#books .container_books {
    max-width: 880px;
    margin: auto;
}

#books .book{
    position: relative;
}

#books .book img {
    display: none;
}

#books .book + .book {
    margin-top: 50px;
}

#books .book h3 {
    line-height: 1.4;
}

#books .book p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.4;
}

#books .buy-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #1A96CD;
    border: 2px solid #1A96CD;
    padding: 12px 15px 10px;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    transition: all 0.2s;
}

#books .buy-button:hover {
    color: #5DC2F0;
    border-color: #5DC2F0;
    padding: 14px 20px 12px;
    right: -5px;
}

@media (max-width: 770px) {
    #books .container_books {
        text-align: center;
    }

    #books .buy-button {
        position: static;
        margin-top: 50px;
    }
}