header {
    min-height: 100vh;
    background:  linear-gradient(to bottom, transparent 30%, rgba(0, 175, 255, 0.4) 70%),
    url("../img/6.jpg") no-repeat center / cover;
    position: relative;
    overflow: hidden;
}

header .caption_1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

header .img_header {
    display: none;
}

header nav h2 {
    display: none;
}

header .nav-list {
    display: flex;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    width: 100%;
    justify-content: flex-end;
}

header .nav-list .nav-list__item {
    height: 100%;
}

header .nav-list .nav-list__item a {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 5px 33px;
    height: 75px;
    line-height: 1.5;
    margin-left: -2px;
    transition: all 0.7s;
}

header .nav-list .nav-list__item a::after,
header .nav-list .nav-list__item a::before {
    content: '';
    background: #1a96cd;
    display: block;
    transform: skewX(-37deg);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -2;
    box-shadow: 0 -3px 10px -3px rgba(0,0,0,0.75);
}

header .nav-list .nav-list__item:last-child a::after,
header .nav-list .nav-list__item:last-child a::before {
    width: calc(100% + 60px);
}

header .nav-list .nav-list__item a::before {
    background: linear-gradient(to right, rgba(26,151,205,1) 0%, rgba(93,194,240,1) 100%);
    position: absolute;
    z-index: -1;
    transition: opacity 0.5s;
    opacity: 0;
    box-shadow: 0 -3px 10px -3px rgba(0,0,0,0.4);
}

header .nav-list .nav-list__item a:hover::before {
    opacity: 100;
}

@media (max-width: 1199px) {
    header .nav-list .nav-list__item {
        width: 100%;
    }

    header .nav-list .nav-list__item:first-child a::after,
    header .nav-list .nav-list__item:first-child a::before {
        width: calc(100% + 60px);
        left: -60px;
    }
}

@media (max-width: 965px) {
    header {
        min-height: 600px;
    }

    header .nav-list {
        height: 0;
        top: 50px;
        bottom: auto;
        flex-wrap: wrap;
        display: none;
    }

    header .nav-list .nav-list__item a {
        height: 50px;
    }

    header .nav-list .nav-list__item a::after,
    header .nav-list .nav-list__item a::before {
        transform: none;
    }

    nav::before {
        content: 'menu';
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        height: 50px;
        background-color: #1A96CD;
        color: #fff;
        box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
    }

    nav:hover .nav-list {
        display: flex;
        height: auto;
    }
}